/*-- scss:defaults --*/

// colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$my-red: #eb1e4eff;
$my-brown: #582630ff;
$my-yellow: #ffc847ff;
$my-orange: #f68434ff;
$my-off-white: #f6f6f6;
$my-green: #1bb71cff;
$my-lblue: #139fecff;
// $my-blue: #073b4cff;
$my-blue: #252f3e;
$my-pink: #fc2290;
$my-lblue: #139fecff;
$my-indigo: #771c6d;
$my-purple: #480b6a;
$my-dark-text: #333333;
$kjh-grey: #f6f6f6;
$main-title-inverse: #252f3e;
$chunk-background: #fcf6e6;
$chunk-foreground: $gray-900;

$blue: $my-blue !default;
$indigo: $my-indigo !default;
$purple: $my-purple !default;
$pink: $my-pink !default;
$red: $my-red !default;
$orange: $my-orange !default;
$yellow: $my-yellow !default;
$green: $my-green !default;
$teal: $my-green !default;
$cyan: $my-lblue !default;

$primary: $my-blue !default;
$secondary: $gray-500 !default;
$success: $my-green !default;
$info: $my-blue !default;
$warning: $my-yellow !default;
$danger: $my-lblue !default;
$danger-text: $my-off-white !default;
$light: $my-off-white !default;
$dark: $gray-800 !default;

// fonts
$font-family-sans-serif: "Tenso Slab", "Solitas Slab", "Iosevka Slab",
  "Input Sans Narrow", "IBM Plex Sans Condensed", sans-serif !default;
$font-family-monospace: "BerkeleyMono", "Berkeley Mono", "IBM Plex Mono",
  "Input Mono Narrow", "JetBrains Mono", "Fabrikat Mono" "SF Mono" monospace !default;
$web-font-path: "";

$presentation-font-size-root: 1.85rem !default;
$presentation-heading-font-weight: 700 !default;

$body-bg: $my-off-white !default;
$body-color: $my-dark-text !default;
$link-color: $my-red !default;
$selection-bg: $my-indigo !default;
$code-color: $my-green;

// headings
$presentation-heading-font: "Tenso Slab" !default;
$presentation-heading-color: $main-title-inverse !default;

$presentation-h1-font-size: $presentation-font-size-root * 2.45;
$presentation-h2-font-size: $presentation-font-size-root * 1.85;
$presentation-h3-font-size: $presentation-font-size-root * 1.5;
$presentation-h4-font-size: $presentation-font-size-root * 1.2;
$presentation-h5-font-size: $presentation-font-size-root * 1;
$presentation-h6-font-size: $presentation-font-size-root * 0.8;

/*-- scss:rules --*/

// Title slide (thanks Grant McDermott <@gmcd>)
#title-slide {
  .title {
    color: $my-yellow;
    font-size: 3em;
    font-weight: bold;
  }

  .subtitle {
    color: $my-green;
    font-size: 2em;
    font-style: italic;
  }

  .quarto-title-author-email {
    font-family: $font-family-monospace;
    color: $my-off-white;
    text-align: centernter;
  }

  .author,
  .quarto-title-author-name {
    color: $my-off-white;
    text-align: center;
  }
}

// H1 slide
.title-slide {
  text-align: left;

  h1 {
    color: $my-red;
    font-weight: bold;
  }

  p {
    color: $my-lblue;
    font-size: 1em;
    line-height: 1.1em !important;
    font-weight: bold;
  }
}

// Tables

.reveal table {
  border: none;
  border-collapse: collapse;
}

.reveal table th {
  border-bottom: 1px solid;
}

.reveal table tr {
  border-bottom: none;
  border-top: none;
}

.reveal table td {
  border-bottom: none;
  border-top: none;
}

// Console/text/cell output

.custom-small-table table {
  font-size: 0.5em;
}

.cell-output pre code {
  background-color: $chunk-background;
  color: $chunk-foreground;
  margin-top: 0.15em;
}

// Add a little padding below code blocks
.cell-output-stdout,
.cell-output-stderr {
  margin-bottom: 1em;
}

.text pre,
.text code {
  border-left: 2px;
  border-left-color: $my-lblue;
  background-color: $chunk-background;
}

.smallcode pre,
.smallcode code {
  font-size: 0.78rem;
}

.bigcode pre,
.bigcode code {
  font-size: 1.33rem;
}

// Miscellaneous helper classes

// align p text right, left, center
.right p,
.right li,
.right h1,
.right h2,
.right h3,
.right h4,
.right h5,
.right h6 {
  text-align: right;
}

.center p,
.center li,
.center h1,
.center h2,
.center h3,
.center h4,
.center h5,
.center h6 {
  text-align: center;
}

.left p,
.left li,
.left h1,
.left h2,
.left h3,
.left h4,
.left h5,
.left h6 {
  text-align: left;
}

// Text size changes

.huge p {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  margin-bottom: 0.1em;
}

.huge li {
  font-size: 4em;
  line-height: 0.65em;
  margin-top: 0;
  padding-top: 0;
}

.larger p,
.larger li {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.1em;
}

.large p,
.large li {
  font-size: 1.65em;
  line-height: 1em;
  margin-bottom: 0.1em;
}

.small p,
.small th,
.small tr,
.small td,
.small ul {
  font-size: 1.2em;
}

.smallerkh p,
.smallerkh th,
.smallerkh tr,
.smallerkh td,
.smallerkh ul {
  font-size: 0.85em;
}

.tiny p,
.tiny th,
.tiny tr,
.tiny td,
.tiny ul {
  font-size: 0.7em;
}


.center p {
  text-align: center;
}

.bold p {
  font-weight: bold;
}

.code-annotation-anchor {
  color: $my-orange !important;
}

.reveal ul {
  list-style-type: none;
}

.reveal a {
  line-height: 1.3em;
}

// Stock h2 banner with reversed colors and slightly less margin below
// (the default for the theme)

.reveal .slide h2 {
  background-color: $main-title-inverse;
  color: $my-off-white;
  line-height: 1.3;
  margin-bottom: 0.25em;
  text-align: center;
}

.reveal .slide code {
  font-size: inherit;
}

// This handles cases where code is not in a .cell-output div but is in a chunk
// like ```text
.reveal pre code {
  color: $my-dark-text;
  background-color: $chunk-background;
}


// Table output from code cells

.cell-output-display table {
  font-size: 0.6em;
}

// Color classes for divider-slide backgrounds,
// paragraphs and header foregrounds. The !important
// flag turns out to be, uh, important for this
// to work. This is gross of course, but right now
// there appears to be no way to get a per-slide color
// _except_ by doing e.g. # Title {background-color="#AABBCC"}
// which kind of defeats the purpose of having variables
// and classes to define colors in an SCSS file

// lua filter classes for h1 type slides
.inv-title h1 {
  color: $my-yellow !important;
  background-color: $my-blue;
}

.inv-title p {
  color: $my-off-white !important;
  background-color: $my-blue;
}

.inv-title code {
  // color: $my-green !important;
  background-color: $my-blue;
  font-size: inherit;
}

.title code {
  font-size: inherit;
}

// direct adjustment classes
.fg-yellow {
  color: $my-yellow;
}

.fg-blue {
  color: $my-blue;
}

.fg-lblue {
  color: $my-lblue;
}

.fg-orange {
  color: $my-orange;
}

.fg-red {
  color: $my-red;
}

.fg-pink {
  color: $my-pink;
}

.fg-offwhite {
  color: $my-off-white;
}

.fg-yellow li {
  color: $my-yellow !important;
}

.fg-green li {
  color: $my-green !important;
}

.fg-blue li {
  color: $my-blue !important;
}

.fg-orange li {
  color: $my-orange !important;
}

.fg-pink li {
  color: $my-pink !important;
}

.fg-red li {
  color: $my-red !important;
}

.fg-green {
  color: $my-green !important;
}

// p elements
.fg-white p {
  color: $my-off-white !important;
}

.fg-yellow p {
  color: $my-yellow !important;
}

.fg-green p {
  color: $my-green !important;
}

.fg-blue p {
  color: $my-blue !important;
}

.fg-orange p {
  color: $my-orange !important;
}

.fg-pink p {
  color: $my-pink !important;
}

.fg-red p {
  color: $my-red !important;
}

// h elements
.fg-white h1 h2 h3 {
  color: $my-off-white !important ;
}

.fg-yellow h1 h2 h3 {
  color: $my-yellow !important;
}

.fg-green h1 h2 h3 {
  color: $my-green !important;
}

.fg-blue h1 h2 h3 {
  color: $my-green !important;
}

.fg-lblue h1 h2 h3 {
  color: $my-lblue !important;
}

.fg-pink h1 h2 h3 {
  color: $my-pink !important;
}

.fg-orange h1 h2 h3 {
  color: $my-orange !important;
}

.fg-red h1 h2 h3 {
  color: $my-red !important;
}

.fg-green h1 h2 h3 {
  color: $my-green !important;
}

// For section backgrounds
.bg-blue {
  background-color: $my-blue !important;
}

.bg-blue code {
  color: $my-green !important;
  font-size: inherit;
}
