/*-- scss:defaults --*/

// colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$my-red: #eb1e4eff;
$my-brown: #582630ff;
$my-yellow: #ffc847ff;
$my-orange: #f68434ff;
$my-off-white: #f6f6f6;
$my-green: #1BB71Cff;
$my-lblue: #139fecff;
// $my-blue: #073b4cff;
$my-blue: #252F3E;
$my-pink: #FC2290;
$my-lblue: #139fecff;
$my-indigo: #771C6D;
$my-purple:  #480B6A;
$my-dark-text: #333333;
$kjh-grey: #F6F6F6;
$main-title-inverse: #252F3E;
$chunk-background: #FCF6E6;

$blue:    $my-blue !default;
$indigo:  $my-indigo !default;
$purple:  $my-purple !default;
$pink:    $my-pink !default;
$red:     $my-red !default;
$orange:  $my-orange !default;
$yellow:  $my-yellow !default;
$green:   $my-green !default;
$teal:    $my-green !default;
$cyan:    $my-lblue !default;


$primary:       $my-blue !default;
$secondary:     $gray-500 !default;
$success:       $my-green !default;
$info:          $my-blue !default;
$warning:       $my-yellow !default;
$danger:        $my-lblue !default;
$danger-text:   $my-off-white !default;
$light:         $my-off-white !default;
$dark:          $gray-800 !default;


// fonts
$font-family-sans-serif: "Tenso Slab", "Solitas Slab", "Iosevka Slab", "Input Sans Narrow", "IBM Plex Sans Condensed", sans-serif !default;
$font-family-monospace: "BerkeleyMono", "Berkeley Mono", "IBM Plex Mono", "Input Mono Narrow", "JetBrains Mono", "Fabrikat Mono" "SF Mono" monospace  !default;
$web-font-path: "No";

$presentation-font-size-root: 2rem !default;
$presentation-heading-font-weight: 700 !default;

$body-bg: $my-off-white !default;
$body-color: $my-dark-text !default;
$link-color: $my-red !default;
$selection-bg: $my-indigo !default;
$code-color: $my-green;

// headings
$presentation-heading-font: "Tenso Slab" !default;
$presentation-heading-color: $main-title-inverse !default;

$presentation-h1-font-size: $presentation-font-size-root * 2.45;
$presentation-h2-font-size: $presentation-font-size-root * 1.85;
$presentation-h3-font-size: $presentation-font-size-root * 1.5;
$presentation-h4-font-size: $presentation-font-size-root * 1.2;
$presentation-h5-font-size: $presentation-font-size-root * 1;
$presentation-h6-font-size: $presentation-font-size-root * 0.8;

/*-- scss:rules --*/

// Title slide (thanks Grant McDermott <@gmcd>)
#title-slide {

  .title {
    color: $my-yellow;
    font-size: 3em;
    font-weight: bold;
  }

  .subtitle {
    color: $my-green;
    font-size: 2em;
    font-style: italic;
  }

  .quarto-title-author-email {
    font-family: $font-family-monospace;
    color: $my-off-white;
    text-align: centernter;
  }

  .author,
  .quarto-title-author-name {
    color: $my-off-white;
    text-align: center;
  }

}

// H1 slide
.title-slide {

  text-align: left;

  h1 {
    color: $my-red;
    font-weight: bold;
  }

  p {
    color: $my-lblue;
    font-size: 1em;
    line-height: 1.1em !important;
    font-weight: bold;
  }

}

// Console/text/cell output


.custom-small-table table {
        font-size: .5em
      }

.cell-output, .cell-output-stdout pre code {
  background-color: $chunk-background;
  margin-top: 0.15em;
}

.text pre, .text code {
  border-left: 2px;
  border-left-color: $my-lblue;
  background-color: $chunk-background;
}


.smallcode pre, .smallcode code {
  font-size: 0.78rem;
}



// Miscellaneous helper classes

// align p text right, left, center
.right p, .right li, .right h1, .right h2, .right h3, .right h4, .right h5, .right h6 {
  text-align: right;
}

.center p, .center li, .center h1, .center h2, .center h3, .center h4, .center h5, .center h6 {
  text-align: center;
}

.left p, .left li, .left h1, .left h2, .left h3, .left h4, .left h5, .left h6 {
  text-align: left;
}

// very large text

.huge p {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  line-height: 0.85em;
  margin-bottom: 0.1em;
}

.larger p {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  line-height: 0.85em;
  margin-bottom: 0.1em;
}


.code-annotation-anchor {
  color: $my-orange !important;
}

.reveal ul {
  list-style-type: none;
}

.reveal a {
  line-height: 1.3em;
}

// Stock h2 banner with reversed colors
// (the default for the theme)

.reveal .slide h2 {
  background-color: $main-title-inverse;
  color: $my-off-white;
  line-height: 1.3;
  margin-bottom: 1em;
  text-align: center;
}

// Table output from code cells

.cell-output-display table {
  font-size: 0.6em;
}


// Add a little padding below code blocks
.cell-output-stdout {
  margin-bottom: 1em;
}


// Color classes for divider-slide backgrounds,
// paragraphs and header foregrounds. The !important
// flag turns out to be, uh, important for this
// to work. This is gross of course, but right now
// there appears to be no way to get a per-slide color
// _except_ by doing e.g. # Title {background-color="#AABBCC"}
// which kind of defeats the purpose of having variables
// and classes to define colors in an SCSS file

// lua filter classes for h1 type slides
.inv-title h1 {
  color: $my-yellow !important;
  background-color: $my-blue;
}

.inv-title p {
  color: $my-off-white !important;
  background-color: $my-blue;
}

.inv-title code {
  color: $my-green !important;
  background-color: $my-blue;
}

// direct adjustment classes
.fg-yellow {
  color: $my-yellow;
}

.fg-blue {
  color: $my-blue;
}

.fg-lblue {
  color: $my-lblue;
}

.fg-orange {
  color: $my-orange;
}

.fg-red {
  color: $my-red;
}

.fg-pink {
  color: $my-pink;
}

.fg-green {
  color: $my-green;
}



// p elements
.fg-white p {
  color: $my-off-white !important;
}


.fg-yellow p {
  color: $my-yellow !important;
}

.fg-green p {
  color: $my-green !important;
}

.fg-blue p {
  color: $my-blue !important;
}

.fg-orange p {
  color: $my-orange !important;
}

.fg-pink p {
  color: $my-pink !important;
}

.fg-red p {
  color: $my-red !important;
}


// h1 elements
.fg-white h1 {
  color: $my-off-white !important ;
}


.fg-yellow h1 {
  color: $my-yellow !important;
}

.fg-green h1 {
  color: $my-green !important;
}

.fg-blue h1 {
  color: $my-green !important;
}

.fg-lblue h1 {
  color: $my-lblue !important;
}

.fg-pink h1 {
  color: $my-pink !important;
}

.fg-orange h1 {
  color: $my-orange !important;
}


.fg-red h1 {
  color: $my-red !important;
}

// For section backgrounds
.bg-blue {
  background-color: $my-blue !important;
}

.bg-blue code {
  color: $my-green !important;
}


// Body text: Tenso Slab
@font-face {
    font-family: 'Tenso Slab';
    src: url('../../../../../html/fonts/03-tenso-slab-regular_42_ik.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tenso Slab';
    src: url('../../../../../html/fonts/05_tenso-slab-medium_42_ik.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Tenso Slab';
    src: url('../../../../../html/fonts/04_tenso_slab_italic_42_ik.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tenso Slab';
    src: url('../../../../../html/fonts/06_tenso-slab-mediumitalic_42_ik.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
  font-family: 'Tenso Slab';
  src: url('../../../../../html/fonts/07_tenso-slab-bold_42_ik.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tenso Slab';
  src: url('../../../../../html/fonts/07_tenso-slab-bold_42_ik.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tenso Slab';
  src: url('../../../../../html/fonts/08_tenso_slab_bolditalic_42_ik.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}


// Monospace: Berkeley Mono

@font-face {
    font-family: 'BerkeleyMono';
    src: url('../../../../../html/fonts/BerkeleyMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../../../../../html/fonts/BerkeleyMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../../../../../html/fonts/BerkeleyMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../../../../../html/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

