@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,500;0,600;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');


h1, h2, h3 {
  font-family: 'IBM Plex Sans Condensed', sans;
}

body {
  font-family: 'IBM Plex Sans', sans;
}


h1, h2, h3 {
  font-weight: 800;
}

.remark-code, .remark-inline-code {
  font-family: 'IBM Plex Mono', 'Source Code Pro', 'Lucida Console', Monaco, monospace;
}
