@font-face {
font-family: 'Solitas Slab';
src:
    local('Solitas Slab Norm Light'),
    local('SolitasSlab-NorLig');
}

@font-face {
font-family: 'Solitas Slab Condensed';
src:
    local('Solitas Slab Cond Medium'),
    local('SolitasSlab-ConReg');
}


body {
  font-family: 'Solitas Slab', sans;
  font-weight: normal;
}

h1 {
  font-family: 'Solitas Slab Condensed', sans;
  font-weight: 200;
}

h2, h3 {
    font-family: 'Solitas Slab Condensed', sans;

}


.remark-code, .remark-inline-code {
  font-family: 'MonoLisa', monospace;
}
