/*
Body text Tenso Slab
*/



@font-face {
    font-family: 'Tenso Slab';
    src: url('../fonts/03-tenso-slab-regular_42_ik.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tenso Slab';
    src: url('../fonts/05_tenso-slab-medium_42_ik.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Tenso Slab';
    src: url('../fonts/04_tenso_slab_italic_42_ik.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tenso Slab';
    src: url('../fonts/06_tenso-slab-mediumitalic_42_ik.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
  font-family: 'Tenso Slab';
  src: url('../fonts/07_tenso-slab-bold_42_ik.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tenso Slab';
  src: url('../fonts/07_tenso-slab-bold_42_ik.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tenso Slab';
  src: url('../fonts/08_tenso_slab_bolditalic_42_ik.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}


/*
Monospace
*/

@font-face {
    font-family: 'BerkeleyMono';
    src: url('../fonts/BerkeleyMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MonoLisa';
    src: url('../fonts/BerkeleyMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../fonts/BerkeleyMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}


body {
  font-family: 'Tenso Slab', sans;
  font-weight: normal;
}

h1 {
  font-weight: 500;
}


h2, h3 {
}

.remark-code, .remark-inline-code {
  font-family: 'BerkeleyMono', monospace;
}
